.error-style {
    display: block;
    margin: 10px 0px;
    margin-top: 0px;
    padding: 10px;
    background-color: rgb(226, 134, 134);
    transition-duration: 0.3s;
}

.error-form-div {
    padding-top: 0rem;
    margin-top: 0rem;
    transition-duration: 0.3s;
}

.p_invisible {
    display: none;
    transition-duration: 0.3s;
}

.removeerrormsg {
    display: none;
    transition-duration: 0.3s;
}