@media (max-width: 70rem) {
    * {
        margin: 0px;
        padding: 0px;
    }
    .body {
        background-color: $primary-color;
    }
    .full-screen {
        .container {
            text-align: center;
            display: block;
            align-items: center;
            align-self: center;
            .nav-bar {
                all: unset;
                font-family: $font-stack;
                display: block;
                margin: auto;
                align-items: center;
                align-self: center;
                .logo {
                    width: 20%;
                    display: none;
                    margin: auto;
                }
                .h1 {
                    // color: black;
                    display: block;
                    margin: auto;
                    text-align: center;
                }
                display: block;
                text-align: center;
                align-items: center;
                .nav-list {
                    display: block;
                    margin: auto;
                    text-align: center;
                    align-items: center;
                    align-self: center;
                    .li {
                        text-align: center;
                        align-items: center;
                        margin-top: 20px;
                        .a-text {
                            text-align: center;
                            align-items: center;
                            margin: 20px;
                        }
                    }
                }
            }
            .box {
                display: block;
                background-color: $primary-color;
                margin: auto;
                align-items: center;
                align-self: center;
                .welimg {
                    display: none;
                }
                .form-div {
                    background-color: $primary-color;
                    display: block;
                    margin: auto;
                    padding: 1rem 0rem;
                    margin: 1rem 0rem;
                    align-items: center;
                    align-self: center;
                    .login-form {
                        background-color: $primary-color;
                        display: block;
                        margin: auto;
                        padding: 1rem 0rem;
                        margin: 1rem 0rem;
                        align-items: center;
                        align-self: center;
                        .submit-button {
                            border: black;
                        }
                        .submit-button:hover {
                            background-color: black;
                        }
                        .submit-button:active {
                            background-color: white;
                            color: black;
                        }
                    }
                    .p_ {
                        font-family: $font-stack;
                        color: white;
                        .p_a {
                            color: white;
                        }
                    }
                }
            }
        }
    }
}