.a-special {
    text-decoration: none;
    color: white;
    transition-duration: 0.2s;
    // margin: 2rem;
    &:hover {
        background-color: white;
        padding: 0.7rem;
        color: $primary-color;
        transition-duration: 0.2s;
        transform: scale(0.15);
    }
}