@import 'variables';
@import 'navbarsignup';
@import 'formStyling';
// @import 'mobile';
@import 'simpleSnippets';
@media(max-width:60rem) {
    * {
        margin: 0px;
        padding: 0px;
    }
    body {
        background-color: none;
        .full-screen {
            background-color: none;
            .container {
                background-color: none;
                text-align: center;
                display: block;
                align-items: center;
                align-self: center;
                .nav-bar {
                    all: unset;
                    font-family: $font-stack;
                    display: block;
                    margin: auto;
                    align-items: center;
                    align-self: center;
                    .logo {
                        width: 20%;
                        display: none;
                        margin: auto;
                    }
                    .h1 {
                        // color: black;
                        display: block;
                        margin: auto;
                        text-align: center;
                    }
                    display: block;
                    text-align: center;
                    // color: black;
                    align-items: center;
                    .nav-list {
                        display: block;
                        margin: auto;
                        text-align: center;
                        // color: black;
                        align-items: center;
                        align-self: center;
                        .li {
                            text-align: center;
                            // color: black;
                            align-items: center;
                            margin-top: 20px;
                            .a-text {
                                text-align: center;
                                // color: black;
                                align-items: center;
                                margin: 20px;
                            }
                        }
                    }
                }
                .box-log-sign {
                    * {
                        background-color: none;
                    }
                    #item1 {
                        p {
                            margin: 0rem;
                            padding: 0rem;
                        }
                        background: none;
                        margin: 0rem;
                        margin-bottom: 2rem;
                        padding: 0rem;
                        color: white;
                        font-family: $font-stack;
                    }
                    #item2 {
                        p {
                            margin: 0rem;
                            padding: 0rem;
                        }
                        background: none;
                        display: block;
                        margin: auto;
                        padding: 0rem;
                        color: white;
                        font-family: $font-stack;
                    }
                    background-color: none;
                    .inner-box-log-sign {
                        background-color: none;
                        .inner-box-log-sign-ul {
                            background: none;
                            display: block;
                            .inner-box-log-sign-ul-inner-div {
                                background-color: none;
                                margin: 0rem;
                                padding: 0rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

* {
    background-color: none;
    margin: 0rem;
    padding: 0rem;
}

body {
    background-color: none;
    background: url('../../images/womanTexting4.jpg') no-repeat;
    background-size: cover;
}

.login-form {
    background: none;
}

.inside-form {
    padding: 2rem;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 13%;
    vertical-align: center;
    .text-box {
        height: 3rem;
    }
    .submit-button {
        border: solid white 2px;
        padding: 1rem;
        background-color: rgb(0, 0, 0);
        color: white;
        transition-duration: 0.2s;
        &:hover {
            // color: white;
            background-color: rgba(0, 0, 0, .3);
            border-color: white;
            transition-duration: 0.2s;
            transform: scale(0.98);
            // font-size: 18px;
        }
    }
}

.box-log-sign {
    width: 44.5%;
    margin: 0px auto;
    .inner-box-log-sign {
        .inner-box-log-sign-ul {
            background-color: $transperant-white;
            list-style-type: none;
            // display: flex;
            // align-items: center;
            // justify-content: space-between;
            display: grid;
            grid-template-columns: 0.5fr 0.5fr;
            width: 90%;
            margin: 0px auto;
        }
    }
    #item1 {
        background-color: rgba(255, 255, 255, 0.1);
        font-family: $font-stack;
        font-size: 20px;
        padding: 3rem;
        // padding-left: 5rem;
        text-align: center;
        display: block;
        margin: auto;
        border-right: rgba(0, 0, 0, .3) 2px solid;
    }
    #item2 {
        background-color: rgba(255, 255, 255, 0.1);
        font-family: $font-stack;
        font-size: 20px;
        padding: 3rem;
        // padding-right: 5rem;
        text-align: center;
        display: block;
        margin: auto;
        border-left: rgba(0, 0, 0, .03) 2px solid;
    }
}