@import 'variables';
@import 'formStyling';
@import'mobile';
* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}

body {
    // background-color: lighten($color: #2aafec, $amount: 15);
    background-color: darken($primary-color, 10%);
}

.nav-bar {
    display: grid;
    grid-template-columns: .1fr .6fr .3fr;
    padding: 2rem 15rem;
    font-family: $font-stack;
    img {
        width: 30%;
        margin-left: 5rem;
    }
    h1 {
        color: white;
        margin: 0rem 2rem;
        font-size: 30px;
    }
    ul {
        list-style-type: none;
        display: grid;
        grid-template-columns: repeat(2, .5fr);
        margin: 0rem 5rem;
    }
    a {
        text-decoration: none;
        color: white;
        transition-duration: 0.2s;
        // margin: 0rem 1rem;
    }
    a:hover {
        background-color: white;
        padding: 0.6rem;
        color: $primary-color;
        transition-duration: 0.2s;
    }
}

img {
    width: 100%;
    height: auto;
}

.box {
    margin: 6rem 15rem;
    background-color: white;
    // opacity: 0.5;
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    .submit-button {
        margin-top: 1rem;
    }
    .form-div {
        .p_ {
            font-family: $font-stack;
        }
    }
    transition-duration:0.3s;
}

@media(max-width:1650px) {
    img {
        display: none;
    }
}